@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.html,
body {
  margin: 0;
  margin-bottom: 15%;
  padding: 0;
  background-color: white;
}
